#### PK-02-Strings
## Strings 

Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

### Creating a String 

To create a string in Python you need to use either single quotes or double quotes. For example:

In [2]:
# Single word 
'parul'

'parul'

In [3]:
# Entire phrase 
'My name is Parul Khattar'

'My name is Parul Khattar'

In [4]:
# We can also use double quotes 
"Parul is awesome"

'Parul is awesome'

In [5]:
# Be caeful with quotes!
'I'm a good coder but this line might result in an error. '

SyntaxError: invalid syntax (<ipython-input-5-da1866934c82>, line 2)

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [6]:
"I'm a good coder but this line might result in an error. "

"I'm a good coder but this line might result in an error. "

### Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [7]:
# We can simply declare a string 
'Parul Khattar'

'Parul Khattar'

In [8]:
# Note that we can't output multiple strings this way 
'Minnie'
'Parul'

'Parul'

We can use a print statement to print a string.

In [14]:
print('Hello World!')
print("Parul Khattar")
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World!
Parul Khattar
Use
 to print a new line


See what I mean?

### String Basics

We can also use a function called len() to check the length of a string!

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

In [16]:
len('hello parul !')

13

### String Indexing

We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called s and then walk through a few examples of indexing.

In [17]:
# Assign s as a string 
s = 'Parul Khattar'

In [18]:
# Check 
s

'Parul Khattar'

In [19]:
# Print the object 
print(s)

Parul Khattar

Let's start indexing !

In [20]:
# Show first element (in this case P letter)
s[0]

'P'

In [21]:
s[1]

'a'

In [22]:
s[2]

'r'

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [23]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'arul Khattar'

In [24]:
# Note that there is no change to the original s
s

'Parul Khattar'

In [25]:
# Grab everything UP TO the 3rd index
s[:3]

'Par'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [26]:
#Everything
s[:]

'Parul Khattar'

We can also use negative indexing to go backwards.

In [27]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'r'

In [28]:
# Grab everything but the last letter
s[:-1]

'Parul Khatta'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [29]:
# Grab everything, but go in steps size of 1
s[::1]

'Parul Khattar'

In [30]:
# Grab everything, but go in step sizes of 2
s[::2]

'PrlKatr'

In [31]:
# We can use this to print a string backwards
s[::-1]

'rattahK luraP'

### String Properties

It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [32]:
s

'Parul Khattar'

In [33]:
# Let's try to change the first letter to 'x'
s[0] = 'K'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [34]:
s

'Parul Khattar'

In [37]:
# Concatenate strings!
s + ' concatenate me!'

'Parul Khattar concatenate me!'

In [38]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [39]:
print(s)

Parul Khattar concatenate me!

In [40]:
s

'Parul Khattar concatenate me!'

We can use the multiplication symbol to create repetition!

In [41]:
letter = 'z'

In [42]:
letter * 18

'zzzzzzzzzzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Here are some examples of built-in methods in strings:

In [43]:
s

'Parul Khattar concatenate me!'

In [44]:
# Upper Case a string 
s.upper()

'PARUL KHATTAR CONCATENATE ME!'

In [46]:
# Lower Case a string 
s.lower()

'parul khattar concatenate me!'

In [47]:
# Split a string by blank space (this is the default)
s.split()

['Parul', 'Khattar', 'concatenate', 'me!']

In [49]:
# Split by a specific element (doesn't include the element that was split on)
s.split('a')

['P', 'rul Kh', 'tt', 'r conc', 'ten', 'te me!']

### Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [50]:
'My name is : {}'.format('Parul Khattar')

'My name is : Parul Khattar'